@import url("https://fonts.googleapis.com/css?family=Fugaz+One");
@import url("https://fonts.googleapis.com/css?family=Poppins");

.left
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resultLink
{
    text-decoration: none;
}

.appHeader
{
    width: 100%;
    background-image: linear-gradient(to right, white 45%, darkgreen);
    font-family: "Fugaz One", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    margin: 60px;
    width: 150px;
    height: 130px;
}

.logoImg
{
    width: 75%;
    height: auto;
}

.pageTitleIdentifier
{
    font-weight: bold;
    color: black;
    margin: 30px;
    font-size: 1.25rem;
}

.collapsibleNav
{
    justify-content: flex-end;
}

.navbar
{
    align-items: center;
    gap: 3rem;
    display: flex;
    font-size: 1.75rem;
    margin: 15px 30px 15px 15px;
}

.navbarLinks
{
    color: black;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    font-size: 1.65rem;
}

.navbarLinks::after
{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: darkgreen;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.navbarLinks:hover::after
{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.container
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contentContainer
{
    display: flex;
    flex: 1;
    overflow: auto;
}

.mainContent
{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow-y: auto;
}

.scrollableContent
{
    flex: 1;
    overflow-y: auto;
    padding: 1em;
}

.formSection
{
    border: 2px solid black;
    border-radius: 15px;
    max-width: 25cm;
    min-width: fit-content;
    margin: 80px auto 40px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.formSectionTitle
{
    text-align: center;
    font-size: 1.7rem;
    padding: 20px;
    font-weight: bolder;
    background-color: darkgreen;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.formData
{
    padding: 15px;
}

.formEntry
{
    margin-bottom: 25px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.formEntryName
{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.formEntryData
{
    max-width: 95%;
    min-width: 93%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    font-size: 1.25rem;
}

.footerWrapper
{
    background-color: darkgreen;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    color: white;
    text-align: center;
    height: 70px;
    top: 0%;
    bottom: 0%;
}

.footerText
{
    padding-top: 20px;
    font-weight: lighter;
}

.fillFormButton
{
    width: fit-content;
    height: 50px;
    background-color: darkgreen;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 1.15rem;
    border-radius: 10px;
    border: 3px solid black;
    transition: all 0.3s ease;
}

.formSectionHeadings
{
    text-align: center
}

.formContainer
{
    width: 60%;
    margin: auto;
    text-align: left;
    color: white;
}

.validationErrHeading
{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.validationErrAlert
{
    text-align: left;
    margin: auto;
    width: 50%;
}

.bodySettings {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.scrollingAdminLoginContainer
{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.75)), url('./GGCBackground.jpg');
    composes: bodySettings;
}